:root {
  --primary-color: hsl(204, 84%, 10%);
  --accent-color: hsl(160, 85%, 60%);
  --secondary-color: hsl(215, 16%, 47%);
  --gray: hsl(216, 12%, 84%);
  --nav-height: 4.8rem;
}

/* Neon Colors */

.neon-green {
  --neon: hsl(160, 85%, 60%);
  --neon-glow: hsl(160, 85%, 40%);
}

@supports (background: color(display-p3 1 1 1)) {
  @media (dynamic-range: high) {
    .neon-green {
      --neon-glow: color(display-p3 0 1 0);
    }
  }
}

html {
  font-size: 62.5%;
  font-family: "Jetbrains Mono", monospace;
}

body {
  background-color: var(--primary-color);
  padding: 2rem;
  min-height: 100dvh;
  min-height: 100vh;
}

header {
  margin-bottom: 3rem;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
}

.logo-container {
  width: 20%;
}

.navbar-logo {
  width: 4.8rem;
  height: 4.8rem;
}

.hamburger {
  width: 4rem;
  height: 0.2rem;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: relative;
  text-align: right;
}

.hamburger::before,
.hamburger::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  height: 100%;
}

.hamburger::before {
  width: 110%;

  top: -1.1rem;
  right: 0;
}
.hamburger::after {
  width: 90%;

  top: 1.1rem;
  right: 0;
}

main {
  height: calc(95vh - var(--nav-height));
}

.headline {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 1.6rem;
}

.headline--presentation {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--accent-color);
}

.headline--name {
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--accent-color);
  text-shadow: 1px 1px 2px var(--neon), 0 0 1em var(--neon-glow),
    0 0 0.2em var(--neon-glow);
}

.bio {
  color: var(--gray);
  line-height: 1.5;
  margin-bottom: 3rem;
  max-width: 55rem;
}

.highlight {
  text-decoration: underline solid var(--neon-glow);
  font-style: italic;
}

.roles {
  color: var(--neon-glow);
}

.headline--cta {
  background-color: transparent;
  color: var(--neon);
  border: 1px solid var(--neon-glow);
  padding: 1.6rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  max-width: 20rem;
}

.section--header {
  color: var(--gray);
  font-size: 2rem;
  padding-bottom: 2px;
  position: relative;
  margin-bottom: 2rem;
}

.about-me {
  min-height: 100vh;
}

.section--header::after {
  content: "";
  min-width: 50%;

  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  top: 50%;
  right: 0;
}

.header--number {
  color: var(--accent-color);
  font-size: 1.6rem;
}

.my-story {
  color: var(--gray);
  line-height: 1.5;
  margin-bottom: 3rem;
  max-width: 55rem;
  font-size: 1.6rem;
}

.react {
  --neon: hsla(217, 91%, 60%);
  --neon-glow: hsla(217, 91%, 60%);
  color: hsla(217, 91%, 60%);
}

.node-js {
  --neon: #83cd29;
  --neon-glow: #83cd29;
  color: #83cd29;
}

.javascript {
  --neon: #f0db4f;
  --neon-glow: #f0db4f;
  color: #f0db4f;
}

.express {
  --neon: #fefefe;
  --neon-glow: #ffffff;
  color: #fefefe;
}

.python {
  --neon: #37709f;
  --neon-glow: #37709f;
  color: #37709f;
}

.django {
  --neon: #2ba977;
  --neon-glow: #2ba977;
  color: #2ba977;
}

.figma {
  --neon: #fefefe;
  --neon-glow: #ffffff;
  color: #fefefe;
}

.technologies {
  margin-bottom: 2rem;
}

.technologies--card-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
  margin-bottom: 2rem;
}

.technology--card {
  display: flex;
  flex-direction: row;
  flex-basis: 45%;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--neon);
  box-shadow: 0 0 10px var(--neon-glow), inset 0 0 10px var(--neon-glow);
  padding: 1rem 2rem;
}

.technology--name {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.other-skills--header {
  text-align: center;
  font-size: 1.6rem;
  color: var(--gray);
  margin-bottom: 1rem;
}

.other-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.other-skills > li::marker {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--accent-color);
  font-size: 1.6rem;
}

.other-skills > li {
  flex-basis: 50%;
  font-size: 1.6rem;
  color: var(--gray);
  position: relative;
}

/* Timeline */

.jobs-tabs {
  display: flex;
  overflow: auto;
  width: 100%;
  padding-bottom: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  gap: 3rem;
  margin-bottom: 1rem;
}

.jobs-tabs > button {
  display: inline-block;
  min-width: max-content;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: var(--accent-color);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.jobs-tabs > button:first-child {
  margin-left: 8%;
}

.jobs-tabs > button:last-child {
  margin-right: 25%;
}

button.active {
  border-bottom: 2px solid var(--accent-color);
}
